@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{    
    width: 100vw;
    
}

img.meucanal{    
    height: 160vh;
}

a{
    display: block;
    background-image: linear-gradient(to left, rgb(0, 255, 81), blue); 
    padding: 20px;           
    text-align: center;
    color: silver;    
    font-size: 1em;
    text-decoration: none;
    
      
}

a:hover{
    background-color: rgba(218, 16, 16, 0.78);
    color: white;
    text-decoration: overline underline;
}