@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{    
    width: 100vw;
    height: 150vh;   
}

a{
    display: block;
    background-color: rgba(210, 6, 6, 0.74); 
    padding: 20px;           
    text-align: center;
    color: silver;    
    font-size: 1em;
    text-decoration: none;
    font-family: cursive;
      
}

a:hover{
    background-color: rgba(218, 16, 16, 0.78);
    color: white;
    text-decoration: overline underline;
}