@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: black;
    height: 100vh;
    width: 100vw;
}

body{
    background: url('../imagens/fundo-madeira.jpg')no-repeat
    top center;    
    background-size: cover;    
    background-attachment: fixed;
}

main{    
    height: 100vh;
    position: relative;  
      
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 605px;
    width: 250px;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphonemenor.png')  no-repeat ; 
    padding-right: 50px;      
     
}

iframe#tela{   
    position: relative;
    top: 80px;
    left: 22px;
    width: 257px;
    height: 451px; 
    
}

section#redes-sociais{ 
    margin-left: auto;   
    
    height: 100vh;   
     
    text-align: right;
    padding: auto;
}

section#redes-sociais img{   
    width: 45px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.402);
    box-sizing: border-box;
        
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.605);
    transform: translate(-0px, -10px) ;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    transition: 0.3s;
    border-radius: 15%;
    width: 55px;
    margin-bottom: 5px;    
}